* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  width: auto;
}

/*----HEADER----*/

.header {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
}

.header-logo > a {
  font-size: 24px;
  color: #f9faf8;
  padding: 0 16px;
}

.header-links {
  display: flex;
  margin-left: auto;
  list-style: none;
}

.header-link-item > a {
  padding: 0 16px;
  font-size: 18px;
  color: #e5e7eb;
}

/*----HERO CARD----*/

.hero-card {
  background-color: #1f2937;
  padding: 32px 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px 0px 100px 0px;
}

.hero-container-1 {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  max-width: 30%;
}

.hero-title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bold;
}

.hero-text {
  font-size: 18px;
  text-align: left;
  color: #e5e7eb;
}

.hero-button {
  background-color: #3882f6;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  color: #e5e7eb;
  font-weight: bolder;
  max-width: 40%;
}

.hero-card-img {
  width: 500px;
  height: 350px;
}

/*----CONTENT----*/

.rand-info {
  padding: 100px 0px 100px 0px;
}

.rand-info h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding: 25px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 20px;
}

.card img {
  width: 150px;
  height: 150px;
  border: #3882f6 4px solid;
  border-radius: 10px;
}

.card p {
  text-align: center;
  padding-top: 10px;
  max-width: 150px;
}

/*----QUOTE----*/

.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 100px 20% 100px 20%;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  text-align: justify;
}

.quote-author {
  text-align: right;
  font-weight: bolder;
  font-size: 25px;
  text-align: right;
}

/*----CALL TO ACTION----*/

.call-to-action {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0;
  margin: 100px auto 100px auto;
  width: 75%;
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
}

.cta-item button {
  padding: 8px 16px;
  background-color: #3882f6;
  border: #f9faf8 2px solid;
  border-radius: 5px;
  color: #f9faf8;
  font-weight: bolder;
}
